<template name="about">
  <div class="page about">
    {{> nav title='Connections' black=false}}

    <div class="content-scrollable">
      <div class="bg-image about">
        <h1 class="title-about">
          <img src="img/app/grumble-text-logo.png" alt="Grumble"/>
        </h1>
      </div>
      <h2 class="list-title">Pugs with similar grumbles</h2> 
      <!-- TODO should create a template for single list item and generate loop -->
      <ul class="list-similar-grumbles">
        <li>
          <div class="bubble">Traffic sucks</div>
          <span class="avatar">
            <img class="image-avatar" src="img/app/pug.png" alt="Pug">
           </span>  
        </li>
        <li>
          <div class="bubble">Learn how to drive!</div>
          <span class="avatar">
            <img class="image-avatar" src="img/app/pug.png" alt="Pug">
           </span>  
        </li>
        <li>
          <div class="bubble">People need to learn how to drive</div>
          <span class="avatar">
            <img class="image-avatar" src="img/app/pug.png" alt="Pug">
           </span>  
        </li>
        <li>
          <div class="bubble">Been stuck in traffic for hours!</div>
          <span class="avatar">
            <img class="image-avatar" src="img/app/pug.png" alt="Pug">
           </span>  
        </li>
        <li>
          <div class="bubble">HItraffic is killing me</div>
          <span class="avatar">
            <img class="image-avatar" src="img/app/pug.png" alt="Pug">
           </span>  
        </li>
      </ul>
    </div>
  </div>
</template>