<!-- will be chatBlurbs -->
<template name="activity"> 
  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">{{firstName}}</span>
        <span class="timestamp">2 hours ago</span>
        <br> {{text}}
        <br><span class="location"><span class="icon-pin"></span>{{place}}</span>
       </span>
    </span>

    <!-- <div class="bg-image" style="background-image: url('{{image}}');"></div> -->

  </a>

  <!-- <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Te</span>
        <span class="timestamp">2 hours ago</span>
        <br> traffic sucks!
        <br><span class="location"><span class="icon-pin"></span>Kakaako, Hawaii</span>
       </span>
    </span>

  </a>
  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Bob</span>
        <span class="timestamp">3 hours ago</span>
        <br> People need to learn how to drive
        <br><span class="location"><span class="icon-pin"></span>Waikiki, Hawaii</span>
       </span>
    </span>

  </a>

  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Joe</span>
        <span class="timestamp">4 hours ago</span>
        <br> learn how to drive!
       </span>
    </span>

  </a>
  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Bob</span>
        <span class="timestamp">3 hours ago</span>
        <br> People need to learn how to drive
        <br><span class="location"><span class="icon-pin"></span>Waikiki, Hawaii</span>
       </span>
    </span>

  </a>

  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Joe</span>
        <span class="timestamp">4 hours ago</span>
        <br> learn how to drive!
       </span>
    </span>

  </a>
  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Bob</span>
        <span class="timestamp">3 hours ago</span>
        <br> People need to learn how to drive
        <br><span class="location"><span class="icon-pin"></span>Waikiki, Hawaii</span>
       </span>
    </span>

  </a>

  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Joe</span>
        <span class="timestamp">4 hours ago</span>
        <br> learn how to drive!
       </span>
    </span>

  </a>
  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Bob</span>
        <span class="timestamp">3 hours ago</span>
        <br> People need to learn how to drive
        <br><span class="location"><span class="icon-pin"></span>Waikiki, Hawaii</span>
       </span>
    </span>

  </a>

  <a href="{{path}}" class="item-activity">

    <span class="attribution">
      <span class="avatar">
        <img src="{{userAvatar}}" class="image-avatar">
      </span>
      <span class="meta">
        <span class="author">Joe</span>
        <span class="timestamp">4 hours ago</span>
        <br> learn how to drive!
       </span>
    </span> -->

  <!-- </a> -->
</template>