<template name="home">
  <div class="page home">

    {{>nav title='Grumble' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/grumble-text-logo.png" alt="Grumble"/>
        </h1>
        <!-- <span class="hours"><span class="title-callout">Share Your Despair</span> -->
        <!-- </span> -->
        <span class="arrow"></span>
      </div>

      <div class="callout-news">
        <span class="title-callout">News</span>
        Grumble categories is well on it's way!
      </div>
      <!-- <h2 class="list-title">Get Ready to Gruuuuummmmble!</h2> -->
      <!-- <div class="list-subtitle">Read a Pug. Start a Pug</div> -->
      <!-- <a href="{{pathFor 'feed'}}" class="btn-primary">Take A Walk In Our Pug Park</a> -->
      <h2 class="list-title">Recent Grumbles</h2>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" id="bubble" class="btn-primary">Read More Grumbles</a>
      <img class="logo" src="img/app/pug.png" alt="pug">
    </div>
  </div>
</template>