<template name="home">
  <div class="page home">

    {{>nav title='Grumble' black=true}}

    <div class="content-scrollable">
      <div class="bg-image home">
        <h1 class="title-home">
          <img src="img/app/grumble-text-logo.png" alt="Grumble"/>
        </h1>
        <span class="hours"><span class="title-callout">Share Your Despair</span>
        </span>
        <span class="arrow"></span>
      </div>

    <!--   <div class="callout-news">
        <span class="title-callout">News</span>
        {{latestNews.text}}
      </div> -->

      <h2 class="list-title">Get Ready to Gruuuuummmmble!</h2>
      <div class="list-subtitle">Read a Pug. Start a Pug</div>
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message">No one is cooking yet!</div>
            <div class="subtitle-message">Share that you made a recipe and it will show up here.</div>
          </div>
        {{/each}}
      </div>
      <a href="{{pathFor 'feed'}}" class="btn-primary">Your Territory</a>

      <h2 class="list-title">Our Top Pugs Of The Day</h2>
      <div class="list-subtitle">Hand-picked by our biggest grumblers</div>
      <div class="list-recipes">
        {{#each featuredRecipes}}
          {{> recipeItem recipe=this size='small'}}
        {{/each}}
      </div>

      <a href="{{pathFor 'recipes'}}" class="btn-primary">Take A Walk In Our Grumble Park</a>
    </div>

  </div>
</template>