<template name="recipes">
  <div class="page recipes">
    {{> nav title='Explore' black=false}}

    <div class="content-scrollable">
      <form action="">
        <!-- <input type="search" name="search" placeholder="Search"> -->
      </form>
      <ul class="list-categories">
        <li class="item-category"><a href="{{pathFor 'peopleFeed'}}">People</a></li> 
        <li class="item-category"><a href="{{pathFor 'politicsFeed'}}">Politics</a></li>  
        <li class="item-category"><a href="{{pathFor 'schoolFeed'}}">School</a></li>
        <li class="item-category"><a href="{{pathFor 'techFeed'}}">Technology</a></li> 
        <li class="item-category"><a href="{{pathFor 'trafficFeed'}}">Traffic</a></li>
        <li class="item-category"><a href="{{pathFor 'weatherFeed'}}">Weather</a></li> 
        <li class="item-category"><a href="{{pathFor 'workFeed'}}">Work</a></li> 
      </ul>
    </div>

  </div>
</template>