<template name="recipes">
  <div class="page recipes">
    {{> nav title='Explore' black=false}}

    <div class="content-scrollable">
      <form action="">
        <input type="search" name="search" placeholder="Search">
      </form>
      <ul class="list-categories">
        <li class="item-category"><a href="#">Traffic</a></li> 
        <li class="item-category"><a href="#">Work</a></li> 
        <li class="item-category"><a href="#">School</a></li> 
        <li class="item-category"><a href="#">People</a></li> 
        <li class="item-category"><a href="#">Weather</a></li> 
      </ul>
    </div>

  </div>
</template>