<template name="recipes">
  <div class="page recipes">
    {{> nav title='Explore' black=false}}

    <div class="content-scrollable">
      <form action="">
        <!-- <input type="search" name="search" placeholder="Search"> -->
      </form>
        <h2 class="list-title">Grumble Categories Search Coming Soon</h2>
      <ul class="list-categories">
        <li class="item-category"><a href="{{pathFor 'trafficFeed'}}">Traffic</a></li> 
        <li class="item-category"><a href="{{pathFor 'workFeed'}}">Work</a></li> 
        <li class="item-category"><a href="{{pathFor 'schoolFeed'}}">School</a></li> 
        <li class="item-category"><a href="{{pathFor 'peopleFeed'}}">People</a></li> 
        <li class="item-category"><a href="{{pathFor 'peopleFeed'}}">Weather</a></li>
        <li class="item-category"><a href="#">Politics</a></li>  
      </ul>
    </div>

  </div>
</template>